body {
    background-color: #000;
    color: #fff;
    text-align: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
@font-face {
font-family: myFont;
    src: url("Font/HarringtonPlain001001-vv54.ttf");

}
h1 {
font-family: myFont;
}
span {
color: #FFC5C5;
}
